@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <span>角色管理</span>
    </p>
</div>
<main id="system-role">

     <section>
        <header>
            <h1>角色管理</h1>
        </header>

        <aside>
            <form action="#" method="post">
                <p class="input-button-group">
                    <input name="search" type="text" maxlength="32" placeholder="快来搜我〜" />
                    <button disabled type="submit"><i class="fa fa-search"></i></button>
                </p>
            </form>
            <div class="operate">
                <a class="btn btn-primary" href="#" title="创建角色"><i class="i i-plus2"></i>创建角色</a>
            </div>
        </aside>

        <table>
             <thead>
                <tr>
                    <th>编号</th>
                    <th>角色名称</th>
                    <th>角色描述</th>
                    <th>人数</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>超级管理员</td>
                    <td>-</td>
                    <td>1</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-icon" href="./system-role-access.html" title="权限配置"><i class="fa fa-fw fa-cog"></i>权限配置</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>普通管理员</td>
                    <td>-</td>
                    <td>3</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-icon" href="./system-role-access.html" title="权限配置"><i class="fa fa-fw fa-cog"></i>权限配置</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>审核员</td>
                    <td>-</td>
                    <td>10</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-icon" href="./system-role-access.html" title="权限配置"><i class="fa fa-fw fa-cog"></i>权限配置</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="page">
            <div class="page-info">每页 20 条/共 1051 条记录 1/53 页</div>
            <div class="page-code">
                <a href="#">下一页</a>
                <span class="current">1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">下5页</a>
                <a href="#">最后一页</a>
            </div>
        </footer>
    </section>

</main>
