@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="/Admin" title="系统管理">首页</a>
        <i class="fa fa-angle-right"></i>
        <span>500页面</span>
    </p>
</div>
<main id="system-500">

    <section class="system-error">
        <img src="/Content/Admin/Images/img/500.png" alt="500"/>
        <h1>出错了，我的哥...</h1>
         <p><strong>5秒</strong>后，系统自动返回 <a href="/Admin" class="blue">首页</a></p>
    </section>

</main>