@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="about">
    <div class="box-1">
        <h1>革新供应键，改进商业模式，让世界大有不同！</h1>
        <h2>整合资源，建立通道，汇集商家，合作共赢</h2>
    </div>

    <div class="box-2">
        <img src="/Content/Home/Images/img/about/pic.jpg" alt="联系我们"/>
        <div>
            <p>宇通超市以快消品供应链电子商务为切入点，着力构建万商购电子商务和同城物流配送两大平台，实现对传统城市商业的“互联网＋”升级，同时进一步延伸到农村电子商务和跨境电子商务，依托社区便利店打造O2O社区电子商务，扶持传统零售商店的依托互联网的转型，建设新一代区域电子商务服务体系。</p>
            <p>公司定位于开展快速消费品的B2B电子商务，搭建生产商（经销商）与零售终端之间的互联网交易平台，缩短商品流通环节，提高流通效率，打造快消品零售商的一站式采购平台，并通过与物流企业的战略合作，面向生产商（经销商）、零售户提供商流、物流、资金流的一体化服务。</p>
            <p>宇通超市针对全程供应链上不同伙伴（包括制造商、分销商、物流服务商、零售商、消费者）提供了完整的全程流通随需应变解决方案。秉承“整合资源，建立通道，汇集商家，合作共赢”的经营理念，以“赋能供应链，服务新经销”为方针，依托独创的城市合伙人模式和专业的快消互联网运营经验，为供货商和便利店提供便捷，透明，安全的一站式B2B综合服务。</p>
            <h2>联系我们</h2>
            <ul>
                <li><span>工作时间：</span>9:00-18:00（工作日）</li>
                <li><span>咨询热线：</span>400-838-8888</li>
                <li><span>合作邮箱：</span>yutong@163.com</li>
            </ul>
        </div>
    </div>

</main>

