@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="e-proxy">
    <div class="box-1">
        <h1>高效营销平台<strong>优质推广渠道</strong>助您飞速发展</h1>
        <h2>品牌支持&amp;营销支持&amp;平台支持</h2>
    </div>

    <div class="box-2">
        <h1>加盟优势</h1>
        <ul>
            <li>
                <span>受骗赔付</span>
                <p>骗子太多，您如果被骗，没人会管你。通过加盟宝加盟如受骗，最高可获五万元赔偿，同时协助维权。</p>
            </li>
            <li>
                <span>专家解惑</span>
                <p>加盟容易经营难。品牌的支持往往差强人意。加盟宝行业专家顾问团能为您的后续经营排忧解难。</p>
            </li>
            <li>
                <span>受骗赔付</span>
                <p>骗子太多，您如果被骗，没人会管你。通过加盟宝加盟如受骗，最高可获五万元赔偿，同时协助维权。</p>
            </li>
            <li>
                <span>筛选优质项目</span>
                <p>筛选优质加盟项目是我们的义务，一经发现不诚信的招商企业，我们将及时终止与商家的合作。</p>
            </li>
        </ul>
    </div>

    <div class="box-3">
        <h1>推荐项目</h1>
        <ul>
            <li>
                <a href="#" title="糯米果果港式甜品">
                    <div class="img">
                        <img src="/Content/Home/Images/img/eproxy/project.jpg" alt="糯米果果港式甜品"/>
                    </div>
                    <span>糯米果果港式甜品</span>
                </a>
            </li>
            <li>
                <a href="#" title="糯米果果港式甜品">
                    <div class="img">
                        <img src="/Content/Home/Images/img/eproxy/project.jpg" alt="糯米果果港式甜品"/>
                    </div>
                    <span>糯米果果港式甜品</span>
                </a>
            </li>
            <li>
                <a href="#" title="糯米果果港式甜品">
                    <div class="img">
                        <img src="/Content/Home/Images/img/eproxy/project.jpg" alt="糯米果果港式甜品"/>
                    </div>
                    <span>糯米果果港式甜品</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="box-4">
        <h1>保障流程</h1>
        <p>如何加盟代理？宇通助您走向成功</p>
        <ul>
            <li>签约备案</li>
            <li>加盟受骗</li>
            <li>事实验证</li>
            <li>终止与商家合作</li>
            <li>验证先行赔付</li>
            <li>协助加盟商维权</li>
        </ul>
    </div>

</main>

