@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="store-apply">
    <div class="box-1">
        <h1>供应商入驻申请</h1>
        <h2>请真实填写以下信息，以便工作人员为您定制专属方案。提交申请后工作人员将在<strong>3个工作日</strong>内联系您。</h2>
    </div>

    <div class="box-2">
        <form action="#" method="post">
            <ul>
                <li>
                    <p><mark>*</mark>公司名称：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>品牌名称：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>

                <li>
                    <p><mark>*</mark>核心销售区域：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>经营模式：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>品牌类别：</p>
                    <div>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>男装</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>女装</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>包包</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>配饰</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>3C数码</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>运动户外</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>汽摩配饰</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>母婴玩具</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>美妆护肤</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>小家电</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>家居</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>五金工具</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>珠宝手表</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>家纺</span></label>
                        <label><input name="" type="checkbox" value=""/><span><i class="fa fa-square-o"></i><i class="fa fa-check-square"></i>其他</span></label>
                    </div>
                </li>
                <li>
                    <p><mark>*</mark>品牌（公司）简介：</p>
                    <textarea  cols="15"></textarea>
                </li>
                <li>
                    <p><mark>*</mark>联系人姓名：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>联系人职位：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>联系人电话：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <p><mark>*</mark>联系人地址：</p>
                    <input type="text" name="" maxlength="32" placeholder="" />
                </li>
                <li>
                    <input class="btn btn-risk" type="submit" label="提交申请" />
                </li>
            </ul>
        </form>
    </div>
</main>
