@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="coming-soon">
    <section>
        <hgroup>
            <h1>COMING SOON</h1>
            <h2>正在努力开发中，敬请期待！</h2>
        </hgroup>
    </section>
</main>

