@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="mall">

    <div class="box-1">
        <h1>
            <span>开店<em>简易</em>，客源不断</span>
            <span>全套<em>物流配送</em>，开店<em>方便省心</em></span>
        </h1>
    </div>

    <div class="box-2">
        <ul>
            <li>
                <strong>宇通商城</strong>
                <p>优质货源，各种福利活动，让价格<br/>更优惠，客户更受益。</p>
            </li>
            <li>
                <strong>宇通服务站</strong>
                <p>管理培训一把抓<br/>我们不止提供供货</p>
            </li>
            <li>
                <strong>宇通客户</strong>
                <p>管理培训一把抓<br/>我们不止提供供货</p>
            </li>
        </ul>
    </div>
    
    <div class="box-3">
        <div class="wrap">
            <div class="left">
                <h1>门店连接顾客<br/>打造“实体店+互联网”场景</h1>
                <p>
                    <span>把线下商品、服务搬到线上</span>
                    <span>开通自己的线上商城</span>
                    <span>让顾客一秒变粉丝、和导购建立链接</span>
                    <span>会员数据全方位分析，不在与离店后的消费者失联</span>
                </p>
                <ul>
                    <li>沉淀会员</li>
                    <li>到店有礼</li>
                    <li>会员营销</li>
                    <li>精准推送</li>
                    <li>粉丝复购</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="box-4">
        <div class="wrap">
            <div class="right">
                <h1>顾客连接顾客<br/>让客户传播你的生意</h1>
                <p>
                    <span>顾客变会员</span>
                    <span>一键响应，快速配货</span>
                    <span>海量货源 信息支持</span>
                    <span>会员数据全方位分析，不在与离店后的消费者失联</span>
                </p>
                <ul>
                    <li>一键分享</li>
                    <li>养老返利</li>
                    <li>积分兑换</li>
                    <li>全网裂变</li>
                    <li>粉丝复购</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box-5">
        <h1><strong>1000万</strong>零售供应商企业合作</h1>
        <div class="carousel">
            <div class="tag">
                <a href="#" title="1">1</a>
                <a href="#" title="2">2</a>
                <a href="#" title="3">3</a>
            </div>
            <div class="main-image">
                <ul>
                    <li>
                        <ul class="logo-list">
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="logo-list">
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="北京佳佰行"><img src="/Content/Home/Images/img/mall/logo5.jpg" alt="北京佳佰行"></a></li>
                            <li><a href="#" title="OLAND 鸥郎德"><img src="/Content/Home/Images/img/mall/logo4.jpg" alt="OLAND 鸥郎德"></a></li>
                            <li><a href="#" title="Exelon"><img src="/Content/Home/Images/img/mall/logo3.jpg" alt="Exelon"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="logo-list">
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                            <li><a href="#" title="Exelqn"><img src="/Content/Home/Images/img/mall/logo2.jpg" alt="Exelqn"></a></li>
                            <li><a href="#" title="佳利华"><img src="/Content/Home/Images/img/mall/logo1.jpg" alt="佳利华"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="prev" href="#" title="向上"><i class="fa fa-angle-left fa-lg"></i></a>
            <a class="next" href="#" title="向下"><i class="fa fa-angle-right fa-lg"></i></a>
        </div>
        <!-- .carousel -->
    </div>

</main>
