@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="partner">
    <div class="box-1">
        <h1>让零售店安安稳稳<strong>一站购齐</strong></h1>
        <h2>253城市合伙人专享平台</h2>
        <a class="btn btn-risk" href="#" title="入驻城市合伙人">入驻城市合伙人</a>
    </div>

    <div class="box-2">
        <h1>我们的优势</h1>
        <ul>
            <li>
                <strong>合作</strong>
                <p>我们有丰富的经验及渠道</p>
            </li>
            <li>
                <strong>互利</strong>
                <p>我们有丰富的经验及渠道</p>
            </li>
            <li>
                <strong>共赢</strong>
                <p>我们有丰富的经验及渠道</p>
            </li>
        </ul>
    </div>

    <div class="box-3">
        <h1>我们希望你</h1>
        <div class="show">
            <span class="label-1">了解互联网行业</span>
            <span class="label-2">有一定的相关资源</span>
            <span class="label-3">认同宇通并愿意长期合作</span>
            <span class="label-4">严格履行合约积极拓展市场</span>
        </div>
    </div>

    <div class="box-4">
        <h1>入驻条件</h1>
        <div>
            <dl>
                <dt>资质要求</dt>
                <dd>经工商注册的独立法人单位（个体工商户或公司）</dd>
                <dd>运营过社区网站、商业地产公司、广告制作及服务公司、IT相关公司优先考虑</dd>
                <dd>认同社区部落运营理念，熟悉互联网站的各项功能和应用</dd>
                <dd>了解社区市场和社区服务，在本地区有广泛的社会关系</dd>
            </dl>
            <dl>
                <dt>经营要求</dt>
                <dd>具有市场运作能力和渠道，有相应的经营规模和资金实力，商业信誉良好</dd>
                <dd>经营场所：与公司组织架构相匹配的办公格局及办公设备相关</dd>
                <dd>人员配备：至少具有3至5人以上的销售团队</dd>
            </dl>
        </div>
    </div>

    <div class="box-5">
        <h1>入驻流程</h1>
        <a class="btn btn-risk" href="#" title="立即入驻">立即入驻</a>
    </div>

    <div class="box-6">
        <h1>常见问题</h1>
        <div>
            <dl>
                <dt>入驻流程</dt>
                <dd><a href="#" title="如何上传资质">如何上传资质</a></dd>
                <dd><a href="#" title="资质提交后一般多久会反馈结果">资质提交后一般多久会反馈结果</a></dd>
                <dd><a href="#" title="资质审核不通过的主要原因有哪些">资质审核不通过的主要原因有哪些</a></dd>
                <dd class="link"><a href="#" title="更多问题">更多问题<i class="i  i-arrow-right4"></i></a></dd>
            </dl>
            <dl>
                <dt>入驻流程</dt>
                <dd><a href="#" title="如何上传资质">如何上传资质</a></dd>
                <dd><a href="#" title="资质提交后一般多久会反馈结果">资质提交后一般多久会反馈结果</a></dd>
                <dd><a href="#" title="资质审核不通过的主要原因有哪些">资质审核不通过的主要原因有哪些</a></dd>
                <dd class="link"><a href="#" title="更多问题">更多问题<i class="i  i-arrow-right4"></i></a></dd>
            </dl>
            <dl>
                <dt>入驻流程</dt>
                <dd><a href="#" title="如何上传资质">如何上传资质</a></dd>
                <dd><a href="#" title="资质提交后一般多久会反馈结果">资质提交后一般多久会反馈结果</a></dd>
                <dd><a href="#" title="资质审核不通过的主要原因有哪些">资质审核不通过的主要原因有哪些</a></dd>
                <dd class="link"><a href="#" title="更多问题">更多问题<i class="i  i-arrow-right4"></i></a></dd>
            </dl>
        </div>
    </div>
</main>

