@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="service">
    <div class="box-1">
        <h1>打造让商家利润最大化的<strong>零售服务</strong>体系</h1>
        <h2><strong>4</strong>大区域<strong>65</strong>个主要城市</h2>
        <a class="btn btn-risk" href="#" title="立即加入">立即加入</a>
    </div>

    <div class="box-2">
        <h1>服务站介绍</h1>
        <section>
            <p>宇通致力于商超、零售领域的信息、软件等服务的研发，搭建推动传统零售业发展、创新和变革的服务平台。当前，网络科技和移动科技迅猛发展对传统零售业造成强烈冲击，直接送是源于打造一个能够为传统零售业在电子商务大潮中保驾护航的零售服务体系。</p>
            <p>宇通服务站是为零售门店提供的具有全新“互联网+”特性的配套解决方案。我们为线下零售门店提供整体升级转型服务，将商店打造成能够全方位辐射周边社区的便民生活服务平台。</p>
        </section>
    </div>

    <div class="box-3">
        <ul>
            <li>
                <strong>趋势--顺势而为</strong>
                <p>互联网+时代，网购的人数不断增加传统进货模式的电商化变革已迫在眉睫</p>
            </li>
            <li>
                <strong>占位--抢占先机</strong>
                <p>一区一家服务站席位有限，先加入先占位，先掌握财富先机。</p>
            </li>
            <li>
                <strong>收益--高额回报</strong>
                <p>多种盈利渠道运行让你和宇通e家迅速实现共同增值</p>
            </li>
            <li>
                <strong>风险--真正零风险</strong>
                <p>专业服务指导让你实现真正意义上的零风险创业</p>
            </li>
        </ul>
    </div>

    <div class="box-4">
        <img src="/Content/Home/Images/img/service/map.jpg" alt=""/>
        <ul>
            <li><a class="current" href="#" title="上海">上海</a></li>
            <li><a href="#" title="杭州">杭州</a></li>
            <li><a href="#" title="广州">广州</a></li>
            <li><a href="#" title="江苏">江苏</a></li>
            <li><a href="#" title="武汉">武汉</a></li>
        </ul>
        <ol>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
            <li>
                <h3><i class="i i-local"></i>金桥店</h3>
                <p>地址：上海市浦东区金桥路32号</p>
                <p>电话：64360022/64366686</p>
            </li>
        </ol>
    </div>

</main>

