@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="store">
    <div class="box-1">
        <h1>优化超市产业结构，寻找互联网电商行业新坐标</h1>
        <h2>已有合作供货商 3000+</h2>
        <a class="btn btn-risk" href="./store-apply.html" title="商家入驻">商家入驻</a>
    </div>
    
    <div class="box-2">
        <h1>为什么加入宇通商城?</h1>
        <ul>
            <li>
                <strong>大势所趋</strong>
                <p>餐饮、票务、服装等行业都已实现高度电商，商超也会依赖电商实现创新。</p>
            </li>
            <li>
                <strong>超市优势</strong>
                <p>服务站成立之初，开展地毯式搜索超市几乎全城超市都已入驻掌合。</p>
            </li>
            <li>
                <strong>服务支持</strong>
                <p>拥有一支来自阿里巴巴、京东、华润等大型电子商务及零售企业的优秀人才组建的精英团队。</p>
            </li>
            <li>
                <strong>快速发展</strong>
                <p>短短两年，已覆盖27个省，700多个城市宇通商城的覆盖范围不断扩大。</p>
            </li>
        </ul>
    </div>
    
    <div class="box-3">
        <ul>
            <li class="current"><span>减少投放风险</span></li>
            <li><span>拓展销售渠道</span></li>
            <li><span>投放精准广告</span></li>
            <li><span>提高工作效率</span></li>
        </ul>
    </div>

    <div class="box-4">
        <img src="/Content/Home/Images/img/store/admin.jpg" alt="管理后台界面首页"/>
        <div>
            <h1>轻松便捷管理</h1>
            <p>在“互联网+”环境下，智慧社区充分利用“互联网+”的思路，将线上线下资源整合在一起，打通最后一公里，为社区居民提供高效便捷的社区综合信息服务。</p>
            <ul>
                <li class="current">
                    <span><i class="fa fa-plus"></i></span>
                    <strong>支持商品的添加与管理</strong>
                </li>
                <li>
                    <span><i class="fa fa-tags"></i></span>
                    <strong>支持商品促销与商家促销</strong>
                </li>
                <li>
                    <span><i class="fa fa-gear"></i></span>
                    <strong>对订单进行全程管理</strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="box-5">
        <h1>看看他们怎么说</h1>
        <ul>
            <li>
                <img src="/Content/Home/Images/img/store/head@2x.png" alt="宇通超市CEO"/>
                <strong>宇通超市CEO</strong>
                <p>加入宇通后，帮我们做市场、搞促销，让我的客户明显增多，销量增大。掌合平台对我来说了十分方便。特别是点几下鼠标就可以做到账目清晰，还解决掉以往收货款的各种烦恼。</p>
            </li>
            <li>
                <img src="/Content/Home/Images/img/store/head@2x.png" alt="宇通超市CEO"/>
                <strong>宇通超市CEO</strong>
                <p>加入宇通后，帮我们做市场、搞促销，让我的客户明显增多，销量增大。掌合平台对我来说了十分方便。特别是点几下鼠标就可以做到账目清晰，还解决掉以往收货款的各种烦恼。</p>
            </li>
            <li>
                <img src="/Content/Home/Images/img/store/head@2x.png" alt="宇通超市CEO"/>
                <strong>宇通超市CEO</strong>
                <p>加入宇通后，帮我们做市场、搞促销，让我的客户明显增多，销量增大。掌合平台对我来说了十分方便。特别是点几下鼠标就可以做到账目清晰，还解决掉以往收货款的各种烦恼。</p>
            </li>
        </ul>
    </div>
</main>

