<div id="header">
    <aside>
        <div>
            <ul>
                <li><a href="/" title="返回首页"><i class="fa fa-home"></i>返回首页</a></li>
                <li><a href="#" title="商家入驻">商家入驻</a></li>
                <li><a href="#" title="客户服务">客户服务</a></li>
            </ul>
            <ul>
                <li><a href="./login.html" title="登录">登录</a></li>
                <li><a href="./register.html" title="注册">注册</a></li>
                <li><a href="./member-order.html" title="我的订单">我的订单<i class="fa fa-angle-down"></i></a></li>
                <li><a href="./site-mobile.html" title="手机版"><i class="fa fa-mobile"></i>手机版</a></li>
                <li><a href="./site-nav.html" title="网站导航">网站导航<i class="fa fa-angle-down"></i></a></li>
            </ul>
        </div>
    </aside>

    <div id="search">
        <h1 id="logo">
            <a href="./index.html" title="宇通商城 超市网上进货平台">
                <img src="/Content/Market/Images/img/logo.jpg" alt="宇通商城 超市网上进货平台"/>
            </a>
            <a href="#" title="选择所在城市"><strong>杭州</strong><i class="fa fa-angle-down"></i></a>
        </h1>
        <form action="./list.html" method="post">
            <input type="search" name="search" maxlength="32" placeholder="有友凤爪 男士手机 iPhone 6s 手工香皂"/>
            <input class="btn btn-risk" type="submit" value="搜索"/>
        </form>
        <p>
            <span>一站式购齐</span>
            <span>满88元免运费</span>
        </p>
    </div>

    <header>
        <div id="all-nav">
            <h1>
                <a href="#" title="全部商品分类" data-open="on">
                    <i class="fa fa-list"></i>全部商品分类
                </a>
            </h1>
            <ul>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="1">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="2">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="1">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="2">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="1">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="2">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
                <li>
                    <h2><a href="#" title="食品饮料" data-kind="1">食品饮料<i class="fa fa-angle-right"></i></a></h2>
                    <p>
                        <a href="./list.html" title="咖啡">咖啡</a>
                        <a href="./list.html" title="茶类">茶类</a>
                        <a href="./list.html" title="水类">水类</a>
                        <a href="./list.html" title="碳酸饮料">碳酸饮料</a>
                        <a href="./list.html" title="碳酸">碳酸</a>
                    </p>
                </li>
            </ul>
            <div class="nav-wrap kind-1">
                <div class="kind">
                    <dl>
                        <dt>进口食品</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                </div>
                <p class="hot">
                    <a href="./list.html" title="坚果零食 美味之旅"><img src="/Content/Market/Images/img/index/more1.jpg" alt="坚果零食 美味之旅"/></a>
                    <a href="./list.html" title="2件7.5折 品质好奶"><img src="/Content/Market/Images/img/index/more2.jpg" alt="2件7.5折 品质好奶"/></a>
                </p>
            </div>
            <div class="nav-wrap kind-2">
                <div class="kind">
                    <dl>
                        <dt>进口食品2</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品2</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品2</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>进口食品2</dt>
                        <dd>
                            <a href="./list.html" title="休闲零售">休闲零售</a>
                            <a href="./list.html" title="饼干蛋糕">饼干蛋糕</a>
                            <a href="./list.html" title="坚果蜜饯">坚果蜜饯</a>
                            <a href="./list.html" title="糖果/巧克力">糖果/巧克力</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                            <a href="./list.html" title="进口牛奶">进口牛奶</a>
                            <a href="./list.html" title="饮料冲调">饮料冲调</a>
                            <a href="./list.html" title="薯片/膨化">薯片/膨化</a>
                            <a href="./list.html" title="牛奶乳品">牛奶乳品</a>
                        </dd>
                    </dl>
                </div>
                <p class="hot">
                    <a href="./list.html" title="坚果零食 美味之旅"><img src="/Content/Market/Images/img/index/more1.jpg" alt="坚果零食 美味之旅"/></a>
                    <a href="./list.html" title="2件7.5折 品质好奶"><img src="/Content/Market/Images/img/index/more2.jpg" alt="2件7.5折 品质好奶"/></a>
                </p>
            </div>
        </div>

        <ul id="nav">
            <li><a class="current" href="./index.html" title="首页">首页</a></li>
            <li><a href="./list.html" title="零食市场">零食市场</a></li>
            <li><a href="#" title="饮料市场">饮料市场</a></li>
            <li><a href="#" title="服务装">服务装</a></li>
            <li><a href="#" title="特色汇">特色汇</a></li>
        </ul>

        <a class="shopping-cart" href="./shopping-cart.html" title="购物车 0">
            <i class="fa fa-cart-plus"></i>
            <em>购物车</em>
            <span><small>0</small></span>
        </a>
    </header>
</div>