@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
	@Scripts.Render("~/js/plugin/popwin")
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="系统管理">系统管理</a>
        <i class="fa fa-angle-right"></i>
        <span>模块管理</span>
    </p>
</div>
<main id="system">

    <section>
        <header>
            <h1>模块管理</h1>
        </header>

        <aside>
            <form action="#" method="post">
                <p class="select-button-group">
                    <select name="module">
                        <option value="">请选择...</option>
                    </select>
                    <button disabled type="submit"><i class="fa fa-search"></i></button>
                </p>
            </form>
            <div class="operate">
                <a class="btn btn-primary" href="#" title="创建模块"><i class="i i-plus2"></i>创建模块</a>
            </div>
        </aside>

        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>模块名称</th>
                    <th>图标</th>
                    <th class="left">链接地址</th>
                    <th>状态</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>首页</td>
                    <td><i class="fa fa-lg fa-home"></i></td>
                    <td class="left">/home/index</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-sort" href="#" title="排后"><i class="i i-arrow-down"></i></a>
                    </td>
                    <td>
                        <a class="btn-icon" href='@Url.Action("New","SysMoudle",new {area="Admin"})' data-panel-init="on" title="新增"><i class="fa fa-fw fa-plus-circle"></i>新增</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>首页</td>
                    <td><i class="fa fa-lg fa-home"></i></td>
                    <td class="left">/home/index</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-sort" href="#" title="排前"><i class="i i-arrow-up"></i></a>
                        <a class="btn-sort" href="#" title="排后"><i class="i i-arrow-down"></i></a>
                    </td>
                    <td>
                        <a class="btn-icon" href="./system-add.html" data-module-init="on" title="新增"><i class="fa fa-fw fa-plus-circle"></i>新增</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>首页</td>
                    <td><i class="fa fa-lg fa-home"></i></td>
                    <td class="left">/home/index</td>
                    <td>显示</td>
                    <td>
                        <a class="btn-sort" href="#" title="排前"><i class="i i-arrow-up"></i></a>
                    </td>
                    <td>
                        <a class="btn-icon" href="./system-add.html" data-module-init="on" title="新增"><i class="fa fa-fw fa-plus-circle"></i>新增</a>
                        <a class="btn-icon" href="#" title="编辑"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        <a class="btn-icon" href="delete" title="删除"><i class="fa fa-fw fa-trash-o"></i>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="page">
            <div class="page-info">每页 20 条/共 1051 条记录 1/53 页</div>
            <div class="page-code">
                <a href="#">下一页</a>
                <span class="current">1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">...</a>
				<a href="#">20</a>
                <a href="#">最后一页</a>
            </div>
        </footer>
    </section>
    
</main>

