@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="help-detail">
    <div class="help-search">
        <div class="wrap">
            <h1>帮助中心</h1>
            <form action="./help-search-result.html" method="post">
                <div>
                    <input type="text" name="search" maxlength="32" placeholder="请输入搜索关键词，如：密码"/>
                    <input class="btn btn-risk" type="submit" value="搜索"/>
                </div>
                <dl>
                    <dt>热门搜索：</dt>
                    <dd><a href="#" title="预订及取车">预订及取车</a></dd>
                    <dd><a href="#" title="还车及结算">还车及结算</a></dd>
                    <dd><a href="#" title="保险服务">保险服务</a></dd>
                    <dd><a href="#" title="紧急服务">紧急服务</a></dd>
                    <dd><a href="#" title="会员服务">会员服务</a></dd>
                    <dd><a href="#" title="限行政策">限行政策</a></dd>
                </dl>
            </form>
        </div>
    </div>
    <!-- div.help-search -->

    <div class="help-nav-wrap">
        <div class="help-nav">
            <p>
                <i class="fa fa-fw fa-home"></i>
                <a href="./help.html" title="帮助中心">帮助中心</a>
                <i class="fa fa-fw fa-angle-right"></i>
                <span>账户相关</span>
            </p>
            <ul>
                <li><a class="current" href="./hlep-list.html" title="账户相关">账户相关</a></li>
                <li><a href="./hlep-list.html" title="订货系统">订货系统</a></li>
                <li><a href="./hlep-list.html" title="平台服务">平台服务</a></li>
                <li><a href="./hlep-list.html" title="公司动态">公司动态</a></li>
            </ul>
        </div>
    </div>
    <!-- div.help-nav-wrap -->

    <article>
        <hgroup>
            <h1>积分兑换问题,而引起的斗殴事件</h1>
            <p>
                <span>作者：有理想的猪头</span>
                <time datetime="2015-12-30">2015-12-30</time>
            </p>
        </hgroup>
        <p>宇通E家网络科技发展有限公司，是一家利用互联网优势，以资金安全和用户体验为宗旨的诚信互联网公司，创始团队成员，均来自各大互联网门户、知名招聘平台的管理层，对互联网有着深刻的理解，同时也拥有着互联网这一行业鲜明的特征——阳光、奋进、和坚持到底的信念。</p>
        <p>宇通超市的目的是深入零售行业的瓶颈，群起群策与零售联手，通过公社平台，专注于为企业客户提供专业的招聘、佣金托管和在线交易。</p>
        <p>今天，我们定义为一家创业型的公司，没有复杂的背景，却有着一颗斗志昂扬的心。</p>
        <p>这是一支开放的团队，在这里，你不必察言观色、经营办公室政治，你只需保护好你为之奋斗的梦想，我们会让你的才能在这里尽情发挥，让你在这里爆发你的小宇宙！</p>
        <p>如果你只会窝在家里，如果你只会在电脑前写代码，如果你只会默默地一成不变，如果你习惯了公司里的勾心斗角，那你并不适合宇通超市因为这里只有快乐、激情和自由，愿来自五湖四海的兄弟姐妹能亲如一家人。</p>
        <p>”在这个失控的时代，财富可以在短短的几年内以惊人的速度聚集，以不可战胜的实力，击败所有的传统势力和竞争对手，也可以在短短的几年内，被更新的潮流颠覆。”</p>
        <p>但宇通超市想证明——梦想并不都是泡沫，如今，万事俱备，只差和我们一起起航的你。</p>
    </article>

</main>
