@model List<SysChain.Model.SysMoudle>
<div id="header">
    <header>
        <h1 id="logo">
            <a href="/Admin/Home" title="电商后端管理系统 v1.0">电商后端管理系统<small>v1.0</small></a>
        </h1>

        <ul id="nav">
			@foreach(SysChain.Model.SysMoudle m in Model)
			{
 				<li><a  href='@m.LinkUrl' title="@m.Name"><i class="fa @m.Style"></i>@m.Name</a></li>
			}
        </ul>
        <ul id="aside">
            <li class="message">
                <a href="#" title="未读消息">
                    <i class="fa fa-bell-o"></i>
                    <span><em>3</em></span>
                </a>
            </li>
            <li class="menu">
                <a href="#menu-list" title="超级管理员">
                    <div class="avatar-wrap">
                        <img class="avatar" src="~/Content/Admin/Images/avatar/avatar@2x.png" alt="用户名占位"/>
                        <em class="dot"></em>
                    </div>
                    <span>超级管理员</span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
        </ul>

        <ol id="menu-list">
            <li><a href="#" title="基本资料"><i class="fa fa-fw fa-user"></i>基本资料</a></li>
            <li><a href="./member-auth-center.html" title="认证中心"><i class="fa fa-fw fa-diamond"></i>认证中心</a></li>
            <li><a href="#" title="店铺信息"><i class="fa fa-fw fa-suitcase"></i>店铺信息</a></li>
            <li><a href="#" title="店铺动态"><i class="fa fa-fw fa-history"></i>店铺动态</a></li>
            <li><a href="#" title="绑定银行卡"><i class="fa fa-fw fa-credit-card"></i>绑定银行卡</a></li>
            <li><a href="#" title="修改密码"><i class="fa fa-fw fa-unlock-alt"></i>修改密码</a></li>
            <li><a href="#" title="修改交易密码"><i class="fa fa-fw fa-key"></i>修改交易密码</a></li>
            <li><a href="/Member/Logout" title="退出登录"><i class="fa fa-fw fa-sign-out"></i>退出登录</a></li>
        </ol>
        
    </header>
</div>