﻿﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="#" title="个人设置">个人设置</a>
        <i class="fa fa-angle-right"></i>
        <span>基本资料</span>
    </p>
</div>
<main id="member-info">
    <div class="summary">
        <div class="avatar">
            <img src="/Content/Admin/Images/img/member-info/head.png" alt="用户头像"/>
        </div>
        <ul>
            <li>
                <h1 class="girl">我叫什么名字</h1>
                <a class="btn btn-primary" href="./member-info-edit.html" title="编辑">编辑</a>
            </li>
            <li><span>账户名：</span>lihengheng</li>
            <li>
                <p><span>公司名称：</span>北京微元数据科技有限公司</p>
                <p><span>主营品类：</span>UI设计师</p>
            </li>
            <li>
                <p><span>公司地址：</span>浙江省杭州市滨江区江虹路888号</p>
                <p><span>经营品牌：</span>13455677898</p>
            </li>
        </ul>
    </div>
    <!-- div.sumamry -->
    <section>
        <div class="box">
            <header>
                <h1>品牌（公司介绍）</h1>
                <a class="btn btn-primary" href="./member-info-edit.html" title="编辑">编辑</a>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aspernatur exercitationem fuga sunt velit non odit ab natus illo facere, est neque labore quia, recusandae eaque sequi. Est aliquam possimus rerum vero neque, dignissimos, repellendus fuga, ipsum ipsa blanditiis nihil sint? Dolores error ad labore amet numquam pariatur esse praesentium officiis, cumque harum sunt asperiores excepturi maiores soluta tempore suscipit rem libero dolore ratione doloremque aspernatur facere eum, possimus ab. Atque ducimus aliquid, saepe dolores quasi ea eveniet. Ullam vitae explicabo sapiente, sunt facilis sed quos unde doloremque consequatur nesciunt esse animi tempore laudantium nulla voluptatem vero minima architecto ipsum, numquam non mollitia autem id. Repellendus nulla beatae repellat, qui sapiente, voluptatem reprehenderit ipsum fugit ea perspiciatis nisi consequatur explicabo, minus esse cumque cupiditate! Autem quaerat repellendus non molestias sequi nihil veniam aliquam omnis debitis eligendi! Eligendi veritatis fugiat nesciunt odit excepturi ad! Consectetur nemo, ipsa blanditiis alias quod? Nisi sint aspernatur tempore, incidunt natus placeat qui autem alias debitis est nemo quia nulla voluptatem quod culpa voluptates, labore optio provident veritatis recusandae accusamus mollitia. Repellat enim suscipit corrupti assumenda quo sint asperiores laboriosam nemo recusandae perferendis qui quam blanditiis earum a, harum obcaecati ad architecto saepe molestias quaerat, ipsum.</p>
            </article>
        </div>

        <div class="box">
            <header>
                <h1>联系人信息</h1>
                <a class="btn btn-primary" href="./member-info-edit.html" title="编辑">编辑</a>
            </header>
            <ul>
                <li><span>姓名：</span>李恒恒</li>
                <li><span>职位：</span>UI设计师</li>
                <li><span>联系电话：</span>13458458745</li>
                <li><span>退货地址：</span>浙江省义乌市小商品市场888号</li>
            </ul>
        </div>

        <div class="box">
            <header>
                <h1>退换货信息</h1>
                <a class="btn btn-primary" href="./member-info-edit.html" title="编辑">编辑</a>
            </header>
            <ul>
                <li><span>收货人：</span>李恒恒</li>
                <li><span>联系电话：</span>13458458745</li>
                <li><span>退货地址：</span>浙江省义乌市小商品市场888号</li>
            </ul>
        </div>
    </section>
</main>

