@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveUrl = "/Admin/SysConfig/Index/6";
}

<div id="header-crumb">
    <p>
        <i class="fa fa-lg fa-home"></i>
        <a href="/Admin/SysConfig/Index/6" title="商超管理">商超管理</a>
        <i class="fa fa-angle-right"></i>
        <span>品类属性</span>
    </p>
</div>
<main id="mall-property"> 
    <div class="aside-wrap">
        @Html.Action("List","SysAttribute")
    </div>
    
</main>