<div id="footer">
    <footer>
        <div class="left">
            <strong><i class="fa fa-phone"></i>400-838-1777</strong>
            <ul>
				<li><a href="@Url.Action("About","Home")"  target="_blank" title="关于我们">关于我们</a></li>
                <li><a href="@Url.Action("ApplyForSupplier","Home")" target="_blank" title="商家入驻" >供应商入驻</a></li>
                <li><a href="@Url.Action("Index","Help")" target="_blank" title="帮助中心">帮助中心</a></li>
            </ul>
            <p>Copyright<i class="fa fa-copyright"></i>2014 yutongejia.net Inc. All Rights Reserved. <span>宇通E家</span><span>版权所有</span><a href="#" title="宁ICP证070359号">宁ICP证070359号</a></p>
        </div>
        <div class="right">
            <div>
                <span class="circle"><i class="i i-arrow-right4"></i></span>
                <p>马上扫一扫！</p>
                <p>关注我们，深入了解我们</p>
            </div>
            <img src="/Content/Home/Images/img/2.jpg" alt="二维码"/>
        </div>
    </footer>
</div>