@{
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
<div class="carousel">
    <div class="tag">
        <a href="#" title="1">1</a>
        <a href="#" title="2">2</a>
        <a href="#" title="3">3</a>
    </div>
    <div class="main-image">
        <ul>
            <li>
                <a href="./show.html" title="开店简易，客源不断；全套物流配送，开店方便省心" style="background-color: transparent;">
                    <img src="/Content/Home/Images/img/mall/banner_shop.jpg" alt="开店简易，客源不断；全套物流配送，开店方便省心"/>
                </a>
            </li>
            <li>
                <a href="./show.html" title="开店简易，客源不断；全套物流配送，开店方便省心" style="background-color: transparent;">
                    <img src="/Content/Home/Images/img/mall/banner_shop.jpg" alt="开店简易，客源不断；全套物流配送，开店方便省心"/>
                </a>
            </li>
            <li>
                <a href="./show.html" title="开店简易，客源不断；全套物流配送，开店方便省心" style="background-color: transparent;">
                    <img src="/Content/Home/Images/img/mall/banner_shop.jpg" alt="开店简易，客源不断；全套物流配送，开店方便省心"/>
                </a>
            </li>
        </ul>
    </div>
    <a class="prev" href="#" title="向上"><i class="fa fa-angle-left fa-lg"></i></a>
    <a class="next" href="#" title="向下"><i class="fa fa-angle-right fa-lg"></i></a>
</div>
<!-- div.carousel -->

<div id="index-top">
    <div class="info-wrap">
        <div class="user-info">
            <a class="avatar" href="#" title="头像">
                <img src="/Content/Market/Images/img/avatar.png" alt="头像"/>
            </a>
            <p>
                <strong> Hi，有理想的猪头</strong>
                <span>欢迎来到宇通商城</span>
            </p>
        </div>
        <div class="order-info">
            <ul>
                <li><a href="#" title="待付款"><em>0</em><span>待付款</span></a></li>
                <li><a href="#" title="待收货"><em>0</em><span>待收货</span></a></li>
                <li><a href="#" title="待评价"><em>0</em><span>待评价</span></a></li>
            </ul>
            <ol>
                <li><a href="#" title="优惠券"><i class="fa fa-ticket"></i>优惠券</a></li>
                <li><a href="#" title="我常买"><i class="fa fa-clock-o"></i>我常买</a></li>
            </ol>
        </div>
        <div class="notice">
            <ul>
                <li><a class="current" href="#" title="公告">公告</a></li>
                <li><a href="#" title="批发入门">批发入门</a></li>
                <li><a href="#" title="商家入门">商家入门</a></li>
            </ul>
            <ol data-type="1">
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[公告]配送旧衣回收公益活动"><em>[公告]</em>配送旧衣回收公益活动</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[公告]河南驻马店仓开仓公告"><em>[公告]</em>河南驻马店仓开仓公告</a></li>
                <li><a href="#" title="[特惠]进口牛奶欧德堡买三免一"><em>[特惠]</em>进口牛奶欧德堡买三免一</a></li>
                <li><a href="#" title="[特惠]进口牛奶欧德堡买三免一"><em>[特惠]</em>进口牛奶欧德堡买三免一</a></li>
            </ol>
            <ol data-type="2">
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
                <li><a href="#" title="[特惠]“萌物驾到”玩具领券199减50"><em>[特惠]</em>“萌物驾到”玩具领券199减50</a></li>
            </ol>
            <ol data-type="3">
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
                <li><a href="#" title="[特惠]华中特产特惠！20枚土鸡蛋9.9"><em>[特惠]</em>华中特产特惠！20枚土鸡蛋9.9</a></li>
            </ol>
        </div>
    </div>
    <!-- div.info-wrap -->
</div>
<!-- div#index-top -->
<ul class="index-box-banner">
    <li><a href="./show.html" title="HUAWEI nova 一指美拍 十级美颜"><img src="/Content/Market/Images/img/index/ad1.jpg" alt="HUAWEI nova 一指美拍 十级美颜"/></a></li>
    <li><a href="./show.html" title="重阳节给父母 由内而外的健康礼物"><img src="/Content/Market/Images/img/index/ad2.jpg" alt="重阳节给父母 由内而外的健康礼物"/></a></li>
    <li><a href="./show.html" title="10.10卖萌节 低至9元起"><img src="/Content/Market/Images/img/index/ad3.jpg" alt="10.10卖萌节 低至9元起"/></a></li>
    <li><a href="./show.html" title="自营美妆大牌惠 全场32元起"><img src="/Content/Market/Images/img/index/ad4.jpg" alt="自营美妆大牌惠 全场32元起"/></a></li>
</ul>
<!-- ul.index-box-banner -->

<div class="index-box-you-like">
    <header>
        <h1>猜你喜欢</h1>
        <h2>根据您的喜好精心为您推荐！</h2>
        <a href="#" title="换一换"><i class="fa fa-refresh"></i>换一换</a>
    </header>
    <ul>
        <li>
            <a href="./show.html" title="新品潮流豆豆鞋">
                <img src="/Content/Market/Images/img/index/product01.jpg" alt="新品潮流豆豆鞋"/>
                <span class="wrap">
                    <strong>新品潮流豆豆鞋</strong>
                    <span>男士英伦真皮驾车鞋</span>
                    <em>¥299.00</em>
                </span>
            </a>
            <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
            <a href="./show.html" title="新品潮流豆豆鞋">
                <img src="/Content/Market/Images/img/index/product02.jpg" alt="新品潮流豆豆鞋"/>
                <span class="wrap">
                    <strong>新品潮流豆豆鞋</strong>
                    <span>男士英伦真皮驾车鞋</span>
                    <em>¥299.00</em>
                </span>
            </a>
            <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
            <a href="./show.html" title="新品潮流豆豆鞋">
                <img src="/Content/Market/Images/img/index/product03.jpg" alt="新品潮流豆豆鞋"/>
                <span class="wrap">
                    <strong>新品潮流豆豆鞋</strong>
                    <span>男士英伦真皮驾车鞋</span>
                    <em>¥299.00</em>
                </span>
            </a>
            <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
            <a href="./show.html" title="新品潮流豆豆鞋">
                <img src="/Content/Market/Images/img/index/product04.jpg" alt="新品潮流豆豆鞋"/>
                <span class="wrap">
                    <strong>新品潮流豆豆鞋</strong>
                    <span>男士英伦真皮驾车鞋</span>
                    <em>¥299.00</em>
                </span>
            </a>
            <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li>
            <a href="./show.html" title="新品潮流豆豆鞋">
                <img src="/Content/Market/Images/img/index/product05.jpg" alt="新品潮流豆豆鞋"/>
                <span class="wrap">
                    <strong>新品潮流豆豆鞋</strong>
                    <span>男士英伦真皮驾车鞋</span>
                    <em>¥299.00</em>
                </span>
            </a>
            <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
        </li>
    </ul>
</div>
<!-- div.index-box-you-like -->

<main id="index">
    <section class="box-1">
        <header>
            <h1>服装箱包</h1>
            <p>
                <a href="./list.html" title="时尚女装">时尚女装</a>
                <a href="./list.html" title="热销男装">热销男装</a>
                <a href="./list.html" title="精品鞋靴">精品鞋靴</a>
                <a href="./list.html" title="箱包配饰">箱包配饰</a>
            </p>
            <a href="#" title="更多服饰">更多服饰<i class="fa fa-angle-right"></i></a>
        </header>
        <div class="wrap">
            <div class="left">
                <a href="./show.html" title=""><img src="/Content/Market/Images/img/index/propagate1.jpg" alt=""/></a>
                <p>
                    <a href="./show.html" title="衬衫">衬衫</a>
                    <a href="./show.html" title="牛仔裤男">牛仔裤男</a>
                    <a href="./show.html" title="牛仔裤女">牛仔裤女</a>
                    <a href="./show.html" title="短外套">短外套</a>
                    <a href="./show.html" title="男士内裤">男士内裤</a>
                    <a href="./show.html" title="潮流衬衫">潮流衬衫</a>
                    <a href="./show.html" title="连衣裙">连衣裙</a>
                    <a href="./show.html" title="休闲鞋男">休闲鞋男</a>
                    <a href="./show.html" title="钱包">钱包</a>
                    <a href="./show.html" title="拉杆箱">拉杆箱</a>
                    <a href="./show.html" title="黄金男士手表">黄金男士手表</a>
                    <a href="./show.html" title="打火机">打火机</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                </p>
            </div>
            <div class="middle">
                <a href="./show.html" title="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女">
                    <img src="/Content/Market/Images/img/index/clothes.jpg" alt="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女"/>
                    <p>
                        <strong>茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女</strong>
                        <span>买即送100元礼券，限时抢购</span>
                        <em>¥399.00</em>
                    </p>
                </a>
                <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <ul class="right">
                <li>
                    <a href="./show.html" title="COACH">
                        <img src="/Content/Market/Images/img/index/clothes2.jpg" alt="COACH"/>
                        <p>
                            <strong>COACH</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="UGG雪地靴">
                        <img src="/Content/Market/Images/img/index/clothes4.jpg" alt="UGG雪地靴"/>
                        <p>
                            <strong>UGG雪地靴</strong>
                            <span>时尚女靴专场</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="某某潮流墨镜">
                        <img src="/Content/Market/Images/img/index/clothes3.jpg" alt="某某潮流墨镜"/>
                        <p>
                            <strong>某某潮流墨镜</strong>
                            <span>买199减100</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="浪琴手表">
                        <img src="/Content/Market/Images/img/index/clothes5.jpg" alt="浪琴手表"/>
                        <p>
                            <strong>浪琴手表</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <section class="box-2">
        <header>
            <h1>户外运动</h1>
            <p>
                <a href="./list.html" title="时尚女装">时尚女装</a>
                <a href="./list.html" title="热销男装">热销男装</a>
                <a href="./list.html" title="精品鞋靴">精品鞋靴</a>
                <a href="./list.html" title="箱包配饰">箱包配饰</a>
            </p>
            <a href="#" title="更多服饰">更多服饰<i class="fa fa-angle-right"></i></a>
        </header>
        <div class="wrap">
            <div class="left">
                <a href="./show.html" title=""><img src="/Content/Market/Images/img/index/propagate2.jpg" alt=""/></a>
                <p>
                    <a href="./show.html" title="衬衫">衬衫</a>
                    <a href="./show.html" title="牛仔裤男">牛仔裤男</a>
                    <a href="./show.html" title="牛仔裤女">牛仔裤女</a>
                    <a href="./show.html" title="短外套">短外套</a>
                    <a href="./show.html" title="男士内裤">男士内裤</a>
                    <a href="./show.html" title="潮流衬衫">潮流衬衫</a>
                    <a href="./show.html" title="连衣裙">连衣裙</a>
                    <a href="./show.html" title="休闲鞋男">休闲鞋男</a>
                    <a href="./show.html" title="钱包">钱包</a>
                    <a href="./show.html" title="拉杆箱">拉杆箱</a>
                    <a href="./show.html" title="黄金男士手表">黄金男士手表</a>
                    <a href="./show.html" title="打火机">打火机</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                </p>
            </div>
            <div class="middle">
                <a href="./show.html" title="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女">
                    <img src="/Content/Market/Images/img/index/sport.jpg" alt="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女"/>
                    <p>
                        <strong>茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女</strong>
                        <span>买即送100元礼券，限时抢购</span>
                        <em>¥399.00</em>
                    </p>
                </a>
                <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <ul class="right">
                <li>
                    <a href="./show.html" title="COACH">
                        <img src="/Content/Market/Images/img/index/clothes2.jpg" alt="COACH"/>
                        <p>
                            <strong>COACH</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="UGG雪地靴">
                        <img src="/Content/Market/Images/img/index/clothes4.jpg" alt="UGG雪地靴"/>
                        <p>
                            <strong>UGG雪地靴</strong>
                            <span>时尚女靴专场</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="某某潮流墨镜">
                        <img src="/Content/Market/Images/img/index/clothes3.jpg" alt="某某潮流墨镜"/>
                        <p>
                            <strong>某某潮流墨镜</strong>
                            <span>买199减100</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="浪琴手表">
                        <img src="/Content/Market/Images/img/index/clothes5.jpg" alt="浪琴手表"/>
                        <p>
                            <strong>浪琴手表</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <section class="box-3">
        <header>
            <h1>家用电器</h1>
            <p>
                <a href="./list.html" title="时尚女装">时尚女装</a>
                <a href="./list.html" title="热销男装">热销男装</a>
                <a href="./list.html" title="精品鞋靴">精品鞋靴</a>
                <a href="./list.html" title="箱包配饰">箱包配饰</a>
            </p>
            <a href="#" title="更多服饰">更多服饰<i class="fa fa-angle-right"></i></a>
        </header>
        <div class="wrap">
            <div class="left">
                <a href="./show.html" title=""><img src="/Content/Market/Images/img/index/propagate3.jpg" alt=""/></a>
                <p>
                    <a href="./show.html" title="衬衫">衬衫</a>
                    <a href="./show.html" title="牛仔裤男">牛仔裤男</a>
                    <a href="./show.html" title="牛仔裤女">牛仔裤女</a>
                    <a href="./show.html" title="短外套">短外套</a>
                    <a href="./show.html" title="男士内裤">男士内裤</a>
                    <a href="./show.html" title="潮流衬衫">潮流衬衫</a>
                    <a href="./show.html" title="连衣裙">连衣裙</a>
                    <a href="./show.html" title="休闲鞋男">休闲鞋男</a>
                    <a href="./show.html" title="钱包">钱包</a>
                    <a href="./show.html" title="拉杆箱">拉杆箱</a>
                    <a href="./show.html" title="黄金男士手表">黄金男士手表</a>
                    <a href="./show.html" title="打火机">打火机</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                </p>
            </div>
            <div class="middle">
                <a href="./show.html" title="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女">
                    <img src="/Content/Market/Images/img/index/appliance.jpg" alt="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女"/>
                    <p>
                        <strong>茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女</strong>
                        <span>买即送100元礼券，限时抢购</span>
                        <em>¥399.00</em>
                    </p>
                </a>
                <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <ul class="right">
                <li>
                    <a href="./show.html" title="COACH">
                        <img src="/Content/Market/Images/img/index/clothes2.jpg" alt="COACH"/>
                        <p>
                            <strong>COACH</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="UGG雪地靴">
                        <img src="/Content/Market/Images/img/index/clothes4.jpg" alt="UGG雪地靴"/>
                        <p>
                            <strong>UGG雪地靴</strong>
                            <span>时尚女靴专场</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="某某潮流墨镜">
                        <img src="/Content/Market/Images/img/index/clothes3.jpg" alt="某某潮流墨镜"/>
                        <p>
                            <strong>某某潮流墨镜</strong>
                            <span>买199减100</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="浪琴手表">
                        <img src="/Content/Market/Images/img/index/clothes5.jpg" alt="浪琴手表"/>
                        <p>
                            <strong>浪琴手表</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <section class="box-4">
        <header>
            <h1>美容彩妆</h1>
            <p>
                <a href="./list.html" title="时尚女装">时尚女装</a>
                <a href="./list.html" title="热销男装">热销男装</a>
                <a href="./list.html" title="精品鞋靴">精品鞋靴</a>
                <a href="./list.html" title="箱包配饰">箱包配饰</a>
            </p>
            <a href="#" title="更多服饰">更多服饰<i class="fa fa-angle-right"></i></a>
        </header>
        <div class="wrap">
            <div class="left">
                <a href="./show.html" title=""><img src="/Content/Market/Images/img/index/propagate4.jpg" alt=""/></a>
                <p>
                    <a href="./show.html" title="衬衫">衬衫</a>
                    <a href="./show.html" title="牛仔裤男">牛仔裤男</a>
                    <a href="./show.html" title="牛仔裤女">牛仔裤女</a>
                    <a href="./show.html" title="短外套">短外套</a>
                    <a href="./show.html" title="男士内裤">男士内裤</a>
                    <a href="./show.html" title="潮流衬衫">潮流衬衫</a>
                    <a href="./show.html" title="连衣裙">连衣裙</a>
                    <a href="./show.html" title="休闲鞋男">休闲鞋男</a>
                    <a href="./show.html" title="钱包">钱包</a>
                    <a href="./show.html" title="拉杆箱">拉杆箱</a>
                    <a href="./show.html" title="黄金男士手表">黄金男士手表</a>
                    <a href="./show.html" title="打火机">打火机</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                    <a href="./show.html" title="跑步鞋">跑步鞋</a>
                    <a href="./show.html" title="跑步机">跑步机</a>
                    <a href="./show.html" title="山地车">山地车</a>
                </p>
            </div>
            <div class="middle">
                <a href="./show.html" title="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女">
                    <img src="/Content/Market/Images/img/index/cosmetics.jpg" alt="茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女"/>
                    <p>
                        <strong>茵曼 2016冬装新款复古几何提花中长款呢大衣呢外套女</strong>
                        <span>买即送100元礼券，限时抢购</span>
                        <em>¥399.00</em>
                    </p>
                </a>
                <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <ul class="right">
                <li>
                    <a href="./show.html" title="COACH">
                        <img src="/Content/Market/Images/img/index/clothes2.jpg" alt="COACH"/>
                        <p>
                            <strong>COACH</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="UGG雪地靴">
                        <img src="/Content/Market/Images/img/index/clothes4.jpg" alt="UGG雪地靴"/>
                        <p>
                            <strong>UGG雪地靴</strong>
                            <span>时尚女靴专场</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="某某潮流墨镜">
                        <img src="/Content/Market/Images/img/index/clothes3.jpg" alt="某某潮流墨镜"/>
                        <p>
                            <strong>某某潮流墨镜</strong>
                            <span>买199减100</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a href="./show.html" title="浪琴手表">
                        <img src="/Content/Market/Images/img/index/clothes5.jpg" alt="浪琴手表"/>
                        <p>
                            <strong>浪琴手表</strong>
                            <span>品牌特惠</span>
                            <em>¥399.00</em>
                        </p>
                    </a>
                    <a href="#" title="加入购物车"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </section>
</main>
<!-- main#index -->

